
@using Schminder_Net.ef;

@{
    mApp _mApp = @Model;
    var _pd = _mApp._cPageData;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Layout_GTag" for="@Model"></partial>

    <partial name="_Layout_Meta" for="@Model"></partial>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @(_pd?.pdContent("app_name"))</title>
    <link rel="stylesheet" href="~/dist/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/dist/fontawesome-free/css/all.css" />
    <link rel="stylesheet" href="~/site/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/site/blog-editor.css" asp-append-version="true">
</head>

<body>
    <script src="~/dist/jquery/jquery.min.js"></script>
    <script src="~/dist/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/site/site.js" asp-append-version="true"></script>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="background-color: #c56716">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@(_pd?.pdContent("app_name"))</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Privacy" asp-action="Index">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Layout_Footer" for="@Model"></partial>

</body>
</html>
